.history {
    color: var(--neutral-800);
}

.active-terminal .loading {
    color: var(--warning);
}

.active-terminal .terminal-command {
    color: var(--primary-color);
}

.selected-terminal .terminal-command {
    color: var(--success);
}

.active-terminal .terminal-input {
    color: var(--neutral-700);
}

.active-terminal .terminal-output {
    color: var(--info);
}

.active-terminal .terminal-error {
    color: var(--danger);
}

.history-group {
    background-color: #1119;
    padding: 1em;
    border-radius: 0.7em;
    margin-top: 0.6em;
    box-shadow: inset rgba(0, 0, 0, 0.16) 0px 3px 6px, inset rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
