@import 'styles/variables';

.terminal-output {
    color: $neutral-800;
}

.active-terminal .terminal--blue {
    color: $blue;
}

.active-terminal .terminal--blue-dark {
    color: $blue-dark;
}

.active-terminal .terminal--blue-light {
    color: $blue-light;
}

.active-terminal .terminal--green {
    color: $green;
}

.active-terminal .terminal--green-dark {
    color: $green-dark;
}

.active-terminal .terminal--green-light {
    color: $green-light;
}

.active-terminal .terminal--red {
    color: $red;
}

.active-terminal .terminal--red-dark {
    color: $red-dark;
}

.active-terminal .terminal--red-light {
    color: $red-light;
}

.active-terminal .terminal--yellow {
    color: $yellow;
}

.active-terminal .terminal--yellow-dark {
    color: $yellow-dark;
}

.active-terminal .terminal--yellow-light {
    color: $yellow-light;
}

.active-terminal .terminal--purple {
    color: $purple;
}

.active-terminal .terminal--purple-dark {
    color: $purple-dark;
}

.active-terminal .terminal--purple-light {
    color: $purple-light;
}

.active-terminal .terminal--orange {
    color: $orange;
}

.active-terminal .terminal--orange-dark {
    color: $orange-dark;
}

.active-terminal .terminal--orange-light {
    color: $orange-light;
}

.active-terminal .terminal--teal {
    color: $teal;
}

.active-terminal .terminal--teal-dark {
    color: $teal-dark;
}

.active-terminal .terminal--teal-light {
    color: $teal-light;
}

.active-terminal .terminal--cyan {
    color: $cyan;
}

.active-terminal .terminal--cyan-dark {
    color: $cyan-dark;
}

.active-terminal .terminal--cyan-light {
    color: $cyan-light;
}

.active-terminal .terminal--pink {
    color: $pink;
}

.active-terminal .terminal--pink-dark {
    color: $pink-dark;
}

.active-terminal .terminal--pink-light {
    color: $pink-light;
}

.active-terminal .terminal--neutral-100 {
    color: $neutral-100;
}

.active-terminal .terminal--neutral-200 {
    color: $neutral-200;
}

.active-terminal .terminal--neutral-300 {
    color: $neutral-300;
}

.active-terminal .terminal--neutral-400 {
    color: $neutral-400;
}

.active-terminal .terminal--neutral-500 {
    color: $neutral-500;
}

.active-terminal .terminal--neutral-600 {
    color: $neutral-600;
}

.active-terminal .terminal--neutral-700 {
    color: $neutral-700;
}

.active-terminal .terminal--neutral-800 {
    color: $neutral-800;
}

.active-terminal .terminal--neutral-900 {
    color: $neutral-900;
}

.active-terminal .terminal--neutral-light {
    color: $neutral-light;
}

.terminal-table {
    margin: 1em 0;
    border-collapse: collapse;
    color: $neutral-800;
}

.terminal-table thead {
    font-weight: normal;
}

.terminal-table th,
.terminal-table td {
    padding: 0.5em;
    border: 1px solid $neutral-400;
}

.terminal-json {
    background-color: $neutral-100;
    color: $neutral-800;
    padding: 1em;
    border-radius: 0.5em;
    overflow-x: auto;
    white-space: pre-wrap;
    line-height: 1.5;
}

.active-terminal .terminal-json {
    color: $blue;
}
