.active-terminal .loading {
    color: var(--warning);
}

.active-terminal .terminal-command {
    color: var(--primary-color);
}

.selected-terminal .terminal-command {
    color: var(--success);
}

.active-terminal .terminal-input {
    color: var(--neutral-700);
}

.active-terminal .terminal-output {
    color: var(--info);
}

.active-terminal .terminal-error {
    color: var(--danger);
}

.terminal-table {
    margin: 1em 0;
    border-collapse: collapse;
    color: var(--neutral-800);
}

.terminal-table thead {
    font-weight: normal;
}

.terminal-table th,
.terminal-table td {
    padding: 0.5em;
    border: 1px solid var(--neutral-400);
}
