.active-terminal .loading {
    color: var(--yellow);
}

.active-terminal .terminal-command {
    color: var(--blue);
}

.selected-terminal .terminal-command {
    color: var(--green);
}

.active-terminal .terminal-input {
    color: var(--neutral-700);
}

.active-terminal .terminal-output {
    color: var(--purple);
}

.active-terminal .terminal-error {
    color: var(--red);
}

.terminal-table {
    margin: 1em 0;
    border-collapse: collapse;
    color: var(--neutral-800);
}

.terminal-table thead {
    font-weight: normal;
}

.terminal-table th,
.terminal-table td {
    padding: 0.5em;
    border: 1px solid var(--neutral-400);
}

.json-container {
    background-color: var(--neutral-100);
    color: var(--blue);
    padding: 1em;
    border-radius: 0.5em;
    overflow-x: auto;
    white-space: pre-wrap;
    line-height: 1.5;
}
