@import 'styles/variables';

.progress-track {
    margin-top: 5px;
    width: 30%;
    height: 10px;
    padding: 2px;
    background-color: transparent;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    transition: 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);

    .progress-bar {
        height: 100%;
        border-radius: 2px;
        background-size: 200% 100%;
        transition: 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

@keyframes gradientPulse {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
