.terminal {
    border: solid 1px var(--neutral-400);
    border-radius: 0.3em;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--neutral-200);
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    height: 100%;
    outline: none;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--neutral-400) transparent;
}

.terminal::-webkit-scrollbar {
    width: 8px;
}

.terminal::-webkit-scrollbar-track {
    background: transparent;
}

.terminal::-webkit-scrollbar-thumb {
    background-color: var(--neutral-400);
    border-radius: 4px;
    border: 2px solid transparent;
}

.terminal::-webkit-scrollbar-thumb:hover {
    background-color: var(--neutral-800);
}

.active-terminal {
    border: solid 1px var(--primary-color);
}

.selected-terminal {
    border: solid 1px var(--success);
}

.current-command-container {
    margin-top: 1em;
    background-color: #ffffff0f;
    border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.current-history-group {
    background-color: #1119;
    padding: 1em;
    border-radius: 0.4em;
    box-shadow: inset rgba(0, 0, 0, 0.23) 0px -6px 8px;
}
