@import 'styles/variables';

.terminal {
    border: solid 1px $neutral-400;
    border-radius: 0.3em;
    padding: 1rem;
    box-sizing: border-box;
    background-color: $neutral-200;
    font-family: $font;
    height: 100%;
    outline: none;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $neutral-400 transparent;
}

.terminal::-webkit-scrollbar {
    width: 8px;
}

.terminal::-webkit-scrollbar-track {
    background: transparent;
}

.terminal::-webkit-scrollbar-thumb {
    background-color: $neutral-400;
    border-radius: 4px;
    border: 2px solid transparent;
}

.terminal::-webkit-scrollbar-thumb:hover {
    background-color: $neutral-800;
}

.active-terminal {
    border: solid 1px $blue;
}

.selected-terminal {
    border: solid 1px $green;
}

.current-command-container {
    margin-top: 1em;
    background-color: #ffffff0f;
    border-radius: 0.4em;
    box-shadow: $shadow-hovering;
    padding-bottom: 1em;
}

.current-history-group {
    background-color: #1119;
    padding: 1em;
    border-radius: 0.4em;
    box-shadow: $shadow-inset-lower;
}
