@import 'styles/variables';

.command-input-container {
    display: flex;
    flex-direction: column;
    outline: none;
    padding: 1em;
}

.command-prompt {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: #89929b;
}

.active-terminal .command-prompt {
    color: $blue;
}

.selected-terminal .command-prompt {
    color: $green;
}

.command-input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1rem;
    margin-left: 0.5em;
    color: #c6cdd5;
    caret-color: #c6cdd5;
    font-family: $font;
    white-space: pre;
}

.div-available-commands {
    display: flex;
    flex-direction: column;
}

.available-command {
    margin-top: 0.2em;
}

.available-command.checked {
    color: $green;
    text-decoration: underline;
}

.available-command.selected {
    color: $blue;
    text-decoration: underline;
}

.command-pages {
    margin-top: 0.5rem;
    font-size: 0.9em;
    color: $neutral-700;
}
