@import 'styles/variables';

.terminal-output {
    color: $neutral-800;
}

.terminal-table {
    margin: 1em 0;
    border-collapse: collapse;
    color: $neutral-800;
}

.terminal-table thead {
    font-weight: normal;
}

.terminal-table th,
.terminal-table td {
    padding: 0.5em;
    border: 1px solid $neutral-400;
}

.terminal-json {
    background-color: $neutral-100;
    color: $neutral-800;
    padding: 1em;
    border-radius: 0.5em;
    overflow-x: auto;
    white-space: pre-wrap;
    line-height: 1.5;
}

.active-terminal .terminal-json {
    color: $blue;
}
