.autocomplete-prompt {
    display: flex;
    flex-direction: column;
    outline: none;
}

.autocomplete-message {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.autocomplete-field {
    margin-left: 1em;
    outline: none;
}

.autocomplete-choices {
    display: flex;
    flex-direction: column;
}

.autocomplete-choice {
    margin-top: 0.2em;
}

.autocomplete-choice.checked {
    color: var(--success);
    text-decoration: underline;
}

.autocomplete-choice.selected {
    color: var(--primary-color);
    text-decoration: underline;
}

.autocomplete-navigation-hint {
    margin-top: 0.8rem;
    font-size: 0.8em;
    color: #768390;
}
