.autocomplete-prompt {
    display: flex;
    flex-direction: column;
    outline: none;
}

.autocomplete-message {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.autocomplete-field {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: #c6cdd5;
    caret-color: #c6cdd5;
    font-family: var(--font);
    white-space: pre;
    margin-left: 1rem;
}

.autocomplete-suggestions {
    display: flex;
    flex-direction: column;
}

.autocomplete-suggestion {
    margin-top: 0.2em;
}

.autocomplete-suggestion.checked {
    color: var(--success);
    text-decoration: underline;
}

.autocomplete-suggestion.selected {
    color: var(--primary-color);
    text-decoration: underline;
}

.autocomplete-pages {
    margin-top: 0.5rem;
    font-size: 0.9em;
    color: var(--neutral-700);
}
