.date-prompt {
    display: flex;
    flex-direction: row;
}

.date-field {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: #c6cdd5;
    caret-color: #c6cdd5;
    font-family: var(--font);
    white-space: pre;
    margin-left: 1rem;
}

.date-field:empty::before {
    content: attr(data-placeholder);
    color: #555;
}
