@import 'styles/variables';

.number-prompt {
    display: flex;
    flex-direction: row;
}

.number-field {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: #c6cdd5;
    caret-color: #c6cdd5;
    font-family: $font;
    white-space: pre;
    margin-left: 1rem;
}

.number-field:empty::before {
    content: attr(data-placeholder);
    color: #555;
}
