@import 'styles/variables';

.password-prompt {
    display: flex;
    flex-direction: row;
}

.password-field {
    margin-left: 1rem;
    font-family: $font;
    outline: none;
    border: none;
    background: transparent;
    color: #c6cdd5;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    box-shadow: none !important;
    caret-color: #c6cdd5;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
    display: none;
}

.password-field:empty::before {
    content: attr(data-placeholder);
    color: #555;
}
