.select-prompt {
    display: flex;
    flex-direction: column;
    outline: none;
}

.select-message {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.choices-list {
    display: flex;
    flex-direction: column;
}

.choice {
    display: flex;
    margin-top: 0.2em;
    flex-direction: row;
    align-items: end;
}

.choice-label.checked {
    color: var(--green);
    text-decoration: underline;
}

.choice-label.selected {
    color: var(--blue);
    text-decoration: underline;
}

.choice-hint {
    display: none;
    font-size: 0.9em;
    color: #768390;
    font-style: italic;
    margin-left: 0.8em;
}

.choice-hint.selected {
    display: inline;
}

.select-navigation-hint {
    margin-top: 0.8rem;
    font-size: 0.8em;
    color: #768390;
}
