@import 'styles/variables';

.select-prompt {
    display: flex;
    flex-direction: column;
    outline: none;
}

.select-message {
    font-weight: bold;
}

.select-navigation-tip {
    margin-bottom: 1em;
    font-size: 0.9em;
    color: $neutral-700;
}

.choices-list {
    display: flex;
    flex-direction: column;
}

.choice {
    display: flex;
    margin-top: 0.2em;
    flex-direction: row;
    align-items: end;
}

.choice-label.checked {
    color: $green;
    text-decoration: underline;
}

.choice-label.selected {
    color: $blue;
    text-decoration: underline;
}

.choice-hint {
    display: none;
    font-size: 0.9em;
    color: #768390;
    font-style: italic;
    margin-left: 0.8em;
}

.choice-hint.selected {
    display: inline;
}
