.terminal-container {
    background-color: #1c2128;
    padding: 0.6em;
    display: grid;
    gap: 0.6em;
    grid-auto-rows: 1fr;
    height: 100vh;
    box-sizing: border-box;
    outline: none;
}
